{% extends "register/base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>アイコン</th>
            {% if user.username != '' %}
            <td><img src="{{ user.icon.url }}" style="height: 100px; width: 100px;"></td>
            {% else %}
            <td><img src="https://s3-ap-northeast-1.amazonaws.com/to22-media/media/to22/2.jpg" style="height: 100px; width: 100px;"></td>
            {% endif %}
        </tr>
        <tr>
            <th>ユーザー名</th>
            <td>{{ user.username }}</td>
        </tr>
        {% if user.username != user.email %}
        <tr>
            <th>ユーザー名</th>
            <td>{{ user.email }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>名</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>姓</th>
            <td>{{ user.last_name }}</td>
        </tr>
    </tbody>
</table>
<a href="{% url 'index' %}">ホームへ</a>
{% endblock %}
